body {
    display: inline-block;
    position: relative;
    left: 40%;
    top: 20px;
}


.card {
    position: relative;
    width: 300px;
    height: 350px;
    color: #a18a96;
    background: url(/Libraries/Content\ reveal\ card/images/azim.jpg);
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.card_content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-top-left-radius: 20px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #fff;
}

.card_title {
    color: #6A515E;
    line-height: 15px;
}

.card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .card_content {
    transform: translateX(0);
}

.card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
}