body {
    text-align: center;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.profile {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
    padding: 80px;
    font-size: 60px;
    color: darkslategrey;   
}

h2 {
    color: darkslategray;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    color: darkslategray;
    font-weight: bold;
}

.heading-2  {
    position: relative;
    bottom: 70px;
    font-size: 1.563rem;
}

.skill-row {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.skills {
    margin-top: 50px;
}

/* Image */
#dp {
    border-radius: 100px;
    height: 200px;
    width: 200px;
 }

/* Span 1 web developer */
.span-1 {
    font-weight: bold;
}

.div-1 {
    background-color: beige;
}

.top-cloud {
    position: relative;
    top: 70px;
    left: 200px;  
}

.bottom-cloud {
    position: absolute;
    top: 350px; 
}

.pra {
    text-align: center;
    line-height: 2;
}

.dev {
    width: 25%;
}

.game {
    width: 25%;
}

hr {
     margin-top: 50px;
     border-radius: 100%;
     border-style: none;
     border-top-style: dotted;
     border-color: gray;
     border-width: 10px;
     width: 5%;
}

.contact-me {
    margin-top: 50px;
}

.bottom-p {
    margin: 0;
    margin-top: 25px;
}

.bottom-container{
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
    background-color: beige;
    margin-bottom: 0;
    padding: 50px;
    font-size: 20px;

}

.footer-link {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    color: darkslategray;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 31px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


/* profile picture */

.card {
    position: relative;
    width: 250px;
    height: 250px;
    color: darkslategray;
    background: url(/web\ development\ practice/my\ site/images/azim.jpg);
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    left: 820px;
}

.card_content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-top-left-radius: 20px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #fff;
}

.card_title {
    color: darkslategray;
    line-height: 15px;
}

.card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .card_content {
    transform: translateX(0);
}

.card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
}